input {
    display: block;
    margin: 0 auto;
    height: 20px;
    margin-top: 25px;
    background-color: aquamarine;
}

.btn {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-right: 795px;
    margin-top: -25px;
    height: 25px;
    background-color: aquamarine;
}

.pokemon-img {
    display: block;
    position: relative;
    margin: 0 auto;
    scale: 3;
    margin-top: 250px; 
    
}

.poke-name {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-left: 860px;
    margin-top: 90px;
    animation: pokename 4s ease-in-out infinite, fadeInUp 0.7, glow infinite;
    animation-duration: 2s;
    color: #fff;
    font-weight: bold;
    font-size: 30px;

    text-shadow:
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #00ffff,
        0 0 80px #00ffff;

}

@keyframes glow {
    0%   { text-shadow: 0 0 10px red; }
    25%  { text-shadow: 0 0 10px yellow; }
    50%  { text-shadow: 0 0 10px lime; }
    75%  { text-shadow: 0 0 10px cyan; }
    100% { text-shadow: 0 0 10px magenta; }
}

@keyframes pokename {
    0%{color: rgb(58, 43, 226);}
    25% {color: black;}
    50% {color: red;}
    75% {color: darkorange;}
    100% {color: rgb(21, 20, 2);}
}

@keyframes fadeInUp {
    0% {
        opacity: 1;
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}